<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="f249591a-e05b-47c2-a0a7-c45f274492b6" Publisher="CN=visouza" Version="1.1.0.1" />
  <Properties>
    <DisplayName>BananalTour</DisplayName>
    <PublisherDisplayName>Daniel Carlos de Souza</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BananalTour.App">
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
      <m2:VisualElements DisplayName="Bananal Tour" Description="BananalTour" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\SmallLogo.png" Square30x30Logo="Assets\30pxLogo.jpg">
        <m2:DefaultTile ShortName="BananalTour" Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#FFFFFF" Image="Assets\splahscreen.jpg" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>